@page
@model EV_Rental.Pages.Staff.DashboardModel
@{
    ViewData["Title"] = "Staff Dashboard";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>Staff Dashboard</h1>
            <p class="lead">Chào mừng Staff: @Model.UserEmail</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">Kiểm tra Xe</div>
                <div class="card-body">
                    <h5 class="card-title">Danh sách cần kiểm tra</h5>
                    <p class="card-text">Kiểm tra tình trạng phương tiện</p>
                    <a href="#" class="btn btn-light">Xem danh sách</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Cho thuê Xe</div>
                <div class="card-body">
                    <h5 class="card-title">Quản lý cho thuê</h5>
                    <p class="card-text">Xử lý yêu cầu thuê xe</p>
                    <a href="#" class="btn btn-light">Xem danh sách</a>
                </div>
            </div>
        </div>
    </div>
</div>
